# Physical system device
device=#PHYSICAL_SYSTEM_DEVICE#

# System partitions
part=vfat, size=#IMAGE_PART_BOOT_SIZE#, fstype=vfat, label=boot
part=linux, size=#IMAGE_PART_RESCUE_SIZE#, fstype=ext4, label=rescue
part=linux, size=#IMAGE_PART_SYSTEM_SIZE#, fstype=ext4, label=system
part=lvm, size=#IMAGE_PART_DATA_SIZE#, vgname=data

# Logical LVM volumes
lvname=data, vgname=data, size=#PART_DATA_LV_DATA_SIZE#, fstype=ext4, label=data
lvname=backup, vgname=data, size=#PART_DATA_LV_BACKUP_SIZE#, fstype=ext4, label=backup
