/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include "../freescale/imx8mm-pinfunc.h"

/ {
	fragment@0 {
		target = <&regulator_uart1_mode_rs485>;
		__overlay__ {
			status = "okay";
		};
	};
	fragment@1 {
		target = <&uart1_rs485>;
		__overlay__ {
			status = "okay";
		};
	};
};
