/dts-v1/;

#include "netfield-iolink-edge-gw-revx.dts"

/ {
	model = "netfield-iolink-edge-gw-rev2";
};

&device_leds {
	/delete-node/ apl_red;
	/delete-node/ apl_green;

	wlan_blue {
		label = "wlan_blue";
		gpios = <&gpio2 20 GPIO_ACTIVE_LOW>;
		linux,default-trigger = "none";
		default-state = "off";
	};
};

&pinctrl_gpio1 {
	fsl,pins = <
		MX8MM_IOMUXC_GPIO1_IO06_GPIO1_IO6  (PU|IS) // RECOVERY#
		MX8MM_IOMUXC_GPIO1_IO11_GPIO1_IO11 (PD|IS) // PGOOD_3V3
		MX8MM_IOMUXC_GPIO1_IO08_GPIO1_IO8  (PD|IS) // TPM_IRQ#
		MX8MM_IOMUXC_GPIO1_IO13_GPIO1_IO13 (PU|IS) // TPM_GPIO
	>;
};

&gpio1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio1>;
	gpio-line-names =
		"N/C", "N/C", "N/C", "N/C", "N/C", "N/C", "RECOVERY#", "N/C", "TPM_IRQ#", "N/C",
		"N/C", "PGOOD_3V3", "N/C", "TPM_GPIO", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C",
		"N/C", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C",
		"N/C", "N/C";

	/* setup gpios for menu control */
	u-boot-ctrl-gpios {
		gpio-hog;
		gpios = <&gpio1 6 GPIO_ACTIVE_LOW>;
		input;
		line-name = "menu-ctrl-gpios";
	};
};

/* Bluetooth module has been removed since rev1 */
&uart2 {
	status = "disabled";
};

/* additional eeprom added */
&i2c1 {
	eprom@52 {
		compatible = "24c64";
		reg = <0x52>;
		pagesize = <32>;
	};
};

/* TPM has moved from spi to i2c */
&ecspi1 {
	status = "disabled";
};

&i2c4 {
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_i2c4>;

        clock-frequency = <400000>;

        st33htpi: st33htpi@2e {
                compatible = "st,st33htpm-i2c";
                reg = <0x2e>;
        };
};

&ethphy0 {
	max-speed = <100>;
};
