/dts-v1/;

#include "../compulab/sb-iotgimx8.dts"

/ {
	model = "netfield-compact-x8m-revx";

	aliases {
		ethernet0 = &fec1;
		i2c0 = &i2c1;
		i2c1 = &i2c2;
		i2c2 = &i2c3;
		i2c3 = &i2c4;
		serial0 = &uart1_switchable;
		serial1 = &uart2;
		serial2 = &uart3;
		serial3 = &uart4;
		mmc0 = &usdhc2; /* SD-Card */
		mmc1 = &usdhc3; /* eMMC */
		gpio0 = &gpio1;
		gpio1 = &gpio2;
		gpio2 = &gpio3;
		gpio3 = &gpio4;
		gpio4 = &gpio5;
		spi0 = &flexspi;
		usb0 = &usbotg1;
		usb1 = &usbotg2;
		video0 = &lcdif;
		rtc0 = &rtc0;
		rtc1 = &snvs_rtc;

	};

	clocks {
		#address-cells = <1>;
		#size-cells = <0>;
		clk40m: clk@1 {
			compatible = "fixed-clock";
			reg = <1>;
			#clock-cells = <0>;
			clock-frequency = <40000000>;
			clock-output-names = "clk40m";
		};
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_device_led>;
		edge-yellow {
			label = "edge_yellow";
			gpios = <&gpio3 19 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "none";
			default-state = "off";
		};
		edge-green {
			label = "edge_green";
			gpios = <&gpio3 25 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "none";
			default-state = "off";
		};
	};

	reg_vusb_5v: regulator-usdhc2 {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_vbus_gpio>;

		compatible = "regulator-fixed";
		regulator-name = "VUSB_5V";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpio4 28 GPIO_ACTIVE_HIGH>;
		regulator-boot-on;
		enable-active-high;
	};
};

&iomuxc {
	sb-iotgimx8 {
		pinctrl_gpio_device_led: gpio_device_ledgrp {
			fsl,pins = <
				MX8MM_IOMUXC_SAI5_RXFS_GPIO3_IO19	0x116
				MX8MM_IOMUXC_SAI5_MCLK_GPIO3_IO25	0x116
			>;
		};

		pinctrl_i2c4: i2c4grp {
			fsl,pins = <
				MX8MM_IOMUXC_I2C4_SCL_I2C4_SCL          0x400001c3
				MX8MM_IOMUXC_I2C4_SDA_I2C4_SDA          0x400001c3
			>;
		};

		pinctrl_ecspi2: ecspi2grp {
			fsl,pins = <
				MX8MM_IOMUXC_ECSPI2_SCLK_ECSPI2_SCLK    0x02
				MX8MM_IOMUXC_ECSPI2_MOSI_ECSPI2_MOSI    0x02
				MX8MM_IOMUXC_ECSPI2_MISO_ECSPI2_MISO    0x102
			>;
		};

		pinctrl_ecspi2_cs: ecspi2_csgrp {
			fsl,pins = <
				MX8MM_IOMUXC_ECSPI2_SS0_GPIO5_IO13      0x40000
			>;
		};

		pinctrl_ecspi3: ecspi3grp {
			fsl,pins = <
				MX8MM_IOMUXC_UART1_RXD_ECSPI3_SCLK      0x02
				MX8MM_IOMUXC_UART1_TXD_ECSPI3_MOSI      0x02
				MX8MM_IOMUXC_UART2_RXD_ECSPI3_MISO      0x102
			>;
		};

		pinctrl_ecspi3_cs: ecspi3_csgrp {
			fsl,pins = <
				MX8MM_IOMUXC_UART2_TXD_GPIO5_IO25       0x40000
			>;
		};


		pinctrl_can0: can0grp {
			fsl,pins = <
				MX8MM_IOMUXC_SAI3_TXC_GPIO5_IO0         0x00
			>;
		};

		pinctrl_can0_term: can0_termgrp {
			fsl,pins = <
				MX8MM_IOMUXC_NAND_DATA02_GPIO3_IO8      0x00
			>;
		};

		pinctrl_can1: can1grp {
			fsl,pins = <
				MX8MM_IOMUXC_UART4_RXD_GPIO5_IO28       0x00
			>;
		};

		pinctrl_can1_term: can_term1grp {
			fsl,pins = <
				MX8MM_IOMUXC_NAND_DATA03_GPIO3_IO9      0x00
			>;
		};

		pinctrl_uart2: uart2grp {
			fsl,pins = <
				MX8MM_IOMUXC_SAI3_TXFS_UART2_DCE_RX     0x140
				MX8MM_IOMUXC_SAI3_TXC_UART2_DTE_TX      0x140
			>;
		};

		pinctrl_uart4: uart4grp {
			fsl,pins = <
				MX8MM_IOMUXC_UART4_RXD_UART4_DCE_RX     0x140
				MX8MM_IOMUXC_UART4_TXD_UART4_DCE_TX     0x140
			>;
		};

		pinctrl_tpm0: tpm0grp {
			fsl,pins = <
				MX8MM_IOMUXC_SAI3_TXFS_GPIO4_IO31       0x0
			>;
		};

		pinctrl_tpm1: tpm1grp {
			fsl,pins = <
				MX8MM_IOMUXC_UART4_RXD_GPIO5_IO28       0x0
			>;
		};

		/* overwrite usdhc2grp setup by sb-iotgimx8.dts, sd-card access with previous setup fails with IO error */
		pinctrl_usdhc2: usdhc2grp {
			fsl,pins = <
				MX8MM_IOMUXC_SD2_CLK_USDHC2_CLK         0x190
				MX8MM_IOMUXC_SD2_CMD_USDHC2_CMD         0x1d0
				MX8MM_IOMUXC_SD2_DATA0_USDHC2_DATA0     0x1d0
				MX8MM_IOMUXC_SD2_DATA1_USDHC2_DATA1     0x1d0
				MX8MM_IOMUXC_SD2_DATA2_USDHC2_DATA2     0x1d0
				MX8MM_IOMUXC_SD2_DATA3_USDHC2_DATA3     0x1d0
				MX8MM_IOMUXC_GPIO1_IO04_USDHC2_VSELECT  0x1d0
			>;
		};
	};
};

&i2c2 {
	rtc0: rtc@69 {
	};
};

&i2c4 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c4>;
	status = "okay";
};

&pcie0 {
	ext_osc = <0>;
};

// NOTE: u-boot only recognizes "fsl,imx27-usb" which is missing in kernel device-tree
&usbotg1 {
	vbus-supply = <&reg_vusb_5v>;
	compatible = "fsl,imx8mm-usb", "fsl,imx7d-usb", "fsl,imx27-usb";
};

&usbotg2 {
	compatible = "fsl,imx8mm-usb", "fsl,imx7d-usb", "fsl,imx27-usb";
};

/* -------------------------------------------------------------------------- */
// NOTE:
//   This enables the uart1 mode selection (RS485/RS232) by device-tree overlays.

/ {
	/delete-node/ regulator-uart1-mode;

	regulator_uart1_mode_rs485: regulator-uart1-mode-rs485 {
		compatible = "regulator-fixed";
		regulator-name = "uart1_mode_rs485";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio4 26 GPIO_ACTIVE_HIGH>; //gpio = <&gpio4 26 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
		status = "disabled";
	};
	regulator_uart1_mode_rs232: regulator-uart1-mode-rs232 {
		compatible = "regulator-fixed";
		regulator-name = "uart1_mode_rs232";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio4 26 GPIO_ACTIVE_LOW>; //<&gpio4 26 GPIO_ACTIVE_LOW>;
		enable-active-low;
		regulator-always-on;
		status = "disabled";
	};
};

&aips3 {
	/delete-node/ serial@30860000;

	uart1_switchable: serial@30860000 {
		compatible = "fsl,imx8mm-uart", "fsl,imx6q-uart";
		reg = <0x30860000 0x10000>;
		interrupts = <GIC_SPI 26 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clk IMX8MM_CLK_UART1_ROOT>, <&clk IMX8MM_CLK_UART1_ROOT>;
		clock-names = "ipg", "per";
		assigned-clocks = <&clk IMX8MM_CLK_UART1>;
		assigned-clock-parents = <&clk IMX8MM_SYS_PLL1_80M>;

		dmas = <&sdma1 22 4 0>, <&sdma1 23 4 0>;
		dma-names = "rx", "tx";

		status = "disabled";
	};
};

&iomuxc {
	sb-iotgimx8 {
		pinctrl_uart1_rs485: uart1grp-rs485 {
			fsl,pins = <
				MX8MM_IOMUXC_SAI2_RXC_UART1_DCE_RX 0x140
				MX8MM_IOMUXC_SAI2_RXFS_UART1_DCE_TX 0x140
				MX8MM_IOMUXC_SAI2_TXFS_GPIO4_IO24 0x140 /* RTS */
				MX8MM_IOMUXC_SAI2_RXD0_UART1_DTE_RTS_B 0x140 /* CTS */
			>;
		};
		pinctrl_uart1_rs232: uart1grp-rs232 {
			fsl,pins = <
				MX8MM_IOMUXC_SAI2_RXC_UART1_DCE_RX	0x140
				MX8MM_IOMUXC_SAI2_RXFS_UART1_DCE_TX	0x140
				MX8MM_IOMUXC_SAI2_TXFS_UART1_DCE_CTS_B 0x140 /* RTS */
				MX8MM_IOMUXC_SAI2_RXD0_UART1_DTE_RTS_B	0x140 /* CTS */
			>;
		};

		pinctrl_vbus_gpio: pinctrl_vbus_gpio {
			fsl,pins = <
				MX8MM_IOMUXC_SAI3_RXFS_GPIO4_IO28	0x140 /* USB_PS_EN */
			>;
		};

		pinctrl_usb9514: usb9514grp {
			fsl,pins = <
				MX8MM_IOMUXC_SAI5_RXD3_GPIO3_IO24       0x140 /* HUB_RSTn */
			>;
		};
	};
};

&snvs_pwrkey {
	status = "okay";
};

/* -------------------------------------------------------------------------- */
