#include "../compulab/ucm-imx8m-mini.dts"
#include "../freescale/imx8mm.dtsi"
#include "../freescale/imx8mm-pinfunc.h"

#include "pad_config.h"

/*
 * The pin function ID is a tuple of
 * <mux_reg conf_reg input_reg mux_mode input_val>
 */
#define MX8MM_IOMUXC_SAI2_RXFS_UART1_DCE_TX          0x1B0 0x418 0x000 0x4 0x0
#define MX8MM_IOMUXC_SAI2_RXC_UART1_DCE_RX           0x1B4 0x41C 0x4f4 0x4 0x3
#define MX8MM_IOMUXC_SAI2_RXD0_UART1_DCE_RTS_B       0x1B8 0x420 0x4f0 0x4 0x2
#define MX8MM_IOMUXC_SAI2_TXFS_UART1_DCE_CTS_B       0x1BC 0x424 0x000 0x4 0x0

#define MX8MM_IOMUXC_SAI3_TXC_UART2_DCE_TX           0x1DC 0x444 0x000 0x4 0x0
#define MX8MM_IOMUXC_SAI3_TXFS_UART2_DCE_RX          0x1D8 0x440 0x4fc 0x4 0x2
#define MX8MM_IOMUXC_SAI3_RXD_UART2_DCE_RTS_B        0x1D4 0x43C 0x4f8 0x4 0x3
#define MX8MM_IOMUXC_SAI3_RXC_UART2_DCE_CTS_B        0x1D0 0x438 0x000 0x4 0x0

/ {
	model = "niot-e-nfl90-q2n16-n-revx";

	aliases {
		ethernet0 = &fec1;
		i2c0 = &i2c1;
		i2c1 = &i2c2;
		i2c2 = &i2c3;
		i2c3 = &i2c4;
		serial0 = &uart1;
		serial1 = &uart2;
		serial2 = &uart3;
		serial3 = &uart4;
		spi0 = &ecspi1;
		spi1 = &ecspi2;
		spi2 = &ecspi3;
		mmc0 = &usdhc2; /* SD-Card */
		mmc1 = &usdhc3; /* eMMC */
		gpio0 = &gpio1;
		gpio1 = &gpio2;
		gpio2 = &gpio3;
		gpio3 = &gpio4;
		gpio4 = &gpio5;
		rtc0 = &rtc0;
		rtc1 = &snvs_rtc;
	};

	config {
		u-boot,system-status-led = "sys_rdy_yellow";
		u-boot,led-test-duration = <1000>;
	};

	device_leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_device_led>;

		sta_green {
			label = "sta_green";
			gpios = <&gpio5 1 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "none";
			default-state = "off";
		};
		led1_green {
			label = "led1_green";
			gpios = <&gpio3 20 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "none";
			default-state = "off";
		};
		led1_red {
			label = "led1_red";
			gpios = <&gpio3 24 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "none";
			default-state = "off";
		};
		apl_green {
			label = "apl_green";
			gpios = <&gpio2 20 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "none";
			default-state = "off";
		};
		apl_red {
			label = "apl_red";
			gpios = <&gpio2 19 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "none";
			default-state = "off";
		};
		act_green {
			label = "act_green";
			gpios = <&gpio4 11 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "none";
			default-state = "off";
		};
		act_red {
			label = "act_red";
			gpios = <&gpio4 0 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "none";
			default-state = "off";
		};
		bt_blue:bt_blue {
			label = "bt_blue";
			gpios = <&gpio4 28 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "none";
			default-state = "off";
		};
		bt_red:bt_red {
			label = "bt_red";
			gpios = <&gpio5 2 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "none";
			default-state = "off";
		};
		sys_rdy_yellow {
			label = "sys_rdy_yellow";
			gpios = <&gpio3 8 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
			default-state = "off";
		};
		sys_run_green {
			label = "sys_run_green";
			gpios = <&gpio4 10 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "none";
			default-state = "off";
		};
	};

	wlreg_on: wlregon-regulator {
		status = "okay";
		gpio = <&gpio2 10 GPIO_ACTIVE_HIGH>; // SOM internal
	};

	regulator-usdhc3rst {
		status = "okay";
		gpio = <&gpio3 16 GPIO_ACTIVE_HIGH>; // SOM internal
	};

	regulator-fec1rst {
		status = "disabled";
		gpio = <&gpio1 10 GPIO_ACTIVE_HIGH>; // USB1_ID
	};

	usdhc1_pwrseq: usdhc1_pwrseq {
		// NOTE: The compulab devicetree are faulty related to the node names. Fix these for usage!
		status = "okay";
		reset-gpios = <&gpio2 10 GPIO_ACTIVE_LOW>; // SOM internal
	};

	backlight {
		status = "disabled";
	};

	lte_enable {
		status = "okay";
		compatible = "rfkill-gpio";
		reset-gpio = <&gpio4 5 GPIO_ACTIVE_HIGH>;
		name = "lte_enable";
		type = "wwan";
	};
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog_1>;

	ucm-imx8m-mini {
		pinctrl_gpio_device_led: gpiodeviceledgrp {
			fsl,pins = <
				MX8MM_IOMUXC_SAI3_TXD_GPIO5_IO1      (PU|OD|DSEx6)
				MX8MM_IOMUXC_SAI5_RXC_GPIO3_IO20     (PU|OD|DSEx6)
				MX8MM_IOMUXC_SAI5_RXD3_GPIO3_IO24    (PU|OD|DSEx6)
				MX8MM_IOMUXC_SD2_WP_GPIO2_IO20       (PU|OD|DSEx6)
				MX8MM_IOMUXC_SD2_RESET_B_GPIO2_IO19  (PU|OD|DSEx6)
				MX8MM_IOMUXC_SAI1_TXC_GPIO4_IO11     (PU|OD|DSEx6)
				MX8MM_IOMUXC_SAI1_RXFS_GPIO4_IO0     (PU|OD|DSEx6)
				MX8MM_IOMUXC_SAI3_RXFS_GPIO4_IO28    (PU|OD|DSEx6)
				MX8MM_IOMUXC_SAI3_MCLK_GPIO5_IO2     (PU|OD|DSEx6)
				MX8MM_IOMUXC_NAND_DATA02_GPIO3_IO8   (PU|OD|DSEx6)
				MX8MM_IOMUXC_SAI1_TXFS_GPIO4_IO10    (PU|OD|DSEx6)
			>;
		};

		pinctrl_gpio1: gpio1grp {
			fsl,pins = <
				MX8MM_IOMUXC_GPIO1_IO05_GPIO1_IO5   (PD|IS) // IN0
				MX8MM_IOMUXC_GPIO1_IO11_GPIO1_IO11  (PD|IS) // PGOOD_3V3
				MX8MM_IOMUXC_GPIO1_IO06_GPIO1_IO6   (PD|IS) // PGOOD_5V
				MX8MM_IOMUXC_GPIO1_IO01_GPIO1_IO1   (PD|IS) // SIM_SW2
				MX8MM_IOMUXC_GPIO1_IO08_GPIO1_IO8   (PD|IS) // TPM_IRQ#
				MX8MM_IOMUXC_GPIO1_IO13_GPIO1_IO13  (PU|IS) // TPM_GPIO
			>;
		};

//		pinctrl_gpio2: gpio2grp {
//			fsl,pins = <
//				// empty
//			>;
//		};

		pinctrl_gpio3: gpio3grp {
			fsl,pins = <
				MX8MM_IOMUXC_NAND_DATA01_GPIO3_IO7  (PU|OD|DSEx1) // SEL_RS/WF#
				MX8MM_IOMUXC_NAND_DATA03_GPIO3_IO9  (PD|IS)       // SPI3_INT#
			>;
		};

		pinctrl_gpio4: gpio4grp {
			fsl,pins = <
				MX8MM_IOMUXC_SAI1_RXD3_GPIO4_IO5   (PU|OD|DSEx1) // LTE_RESET#
				MX8MM_IOMUXC_SAI1_MCLK_GPIO4_IO20  (PU|OD|DSEx1) // LTE_FLIGHTMODE#
			>;
		};

		pinctrl_gpio5: gpio5grp {
			fsl,pins = <
				MX8MM_IOMUXC_I2C3_SDA_GPIO5_IO19   (PD|IS)    // IN1
				MX8MM_IOMUXC_I2C4_SDA_GPIO5_IO21   (PD|DSEx1) // OUT0
			>;
		};

		pinctrl_uart1: uart1grp {
			fsl,pins = <
				MX8MM_IOMUXC_SAI2_RXFS_UART1_DCE_TX     (PU|FSR|DSEx1)
				MX8MM_IOMUXC_SAI2_RXC_UART1_DCE_RX      (PU|FSR|DSEx1)
				MX8MM_IOMUXC_SAI2_RXD0_UART1_DCE_RTS_B  (PU|FSR|DSEx1)
				MX8MM_IOMUXC_SAI2_TXFS_UART1_DCE_CTS_B  (PU|FSR|DSEx1)
			>;
		};

		pinctrl_uart2: uart2grp {
			fsl,pins = <
				MX8MM_IOMUXC_SAI3_TXC_UART2_DCE_TX      (PU|FSR|DSEx1)
				MX8MM_IOMUXC_SAI3_TXFS_UART2_DCE_RX     (PU|FSR|DSEx1)
				MX8MM_IOMUXC_SAI3_RXD_UART2_DCE_RTS_B   (PU|FSR|DSEx1)
				MX8MM_IOMUXC_SAI3_RXC_UART2_DCE_CTS_B   (PU|FSR|DSEx1)
			>;
		};

		pinctrl_uart3: uart3grp {
			fsl,pins = <
				MX8MM_IOMUXC_UART3_RXD_UART3_DCE_RX     (PU|FSR|DSEx1)
				MX8MM_IOMUXC_UART3_TXD_UART3_DCE_TX     (PU|FSR|DSEx1)
			>;
		};

		pinctrl_ecspi1: ecspi1grp {
			fsl,pins = <
				MX8MM_IOMUXC_ECSPI1_SCLK_ECSPI1_SCLK  (PU|FSR|DSEx1)
				MX8MM_IOMUXC_ECSPI1_MOSI_ECSPI1_MOSI  (PU|FSR|DSEx1)
				MX8MM_IOMUXC_ECSPI1_MISO_ECSPI1_MISO  (PU|FSR|DSEx1)
				MX8MM_IOMUXC_ECSPI1_SS0_GPIO5_IO9     (PU|FSR|DSEx1)
			>;
		};

		pinctrl_ecspi2: ecspi2grp {
			fsl,pins = <
				MX8MM_IOMUXC_ECSPI2_SCLK_ECSPI2_SCLK  (PU|FSR|DSEx1)
				MX8MM_IOMUXC_ECSPI2_MOSI_ECSPI2_MOSI  (PU|FSR|DSEx1)
				MX8MM_IOMUXC_ECSPI2_MISO_ECSPI2_MISO  (PU|FSR|DSEx1)
				MX8MM_IOMUXC_ECSPI2_SS0_GPIO5_IO13    (PU|FSR|DSEx1)
			>;
		};

		pinctrl_ecspi3: ecspi3grp {
			fsl,pins = <
				MX8MM_IOMUXC_UART1_RXD_ECSPI3_SCLK    (PU|FSR|DSEx1)
				MX8MM_IOMUXC_UART1_TXD_ECSPI3_MOSI    (PU|FSR|DSEx1)
				MX8MM_IOMUXC_UART2_RXD_ECSPI3_MISO    (PU|FSR|DSEx1)
				MX8MM_IOMUXC_UART2_TXD_GPIO5_IO25     (PU|FSR|DSEx1)
			>;
		};

		pinctrl_i2c1: i2c1grp {
			fsl,pins = <
				MX8MM_IOMUXC_I2C1_SCL_I2C1_SCL                  0x400001c3
				MX8MM_IOMUXC_I2C1_SDA_I2C1_SDA                  0x400001c3
			>;
		};
	};
};

&gpio1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio1>;
	gpio-line-names =
		"N/C", "SIM_SW2", "N/C", "N/C", "N/C", "IN0", "PGOOD_5V", "N/C", "TPM_IRQ#", "N/C",
		"N/C", "PGOOD_3V3", "N/C", "TPM_GPIO", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C",
		"N/C", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C",
		"N/C", "N/C";
};

&gpio2 {
	status = "okay";
	pinctrl-names = "default";
//	pinctrl-0 = <&pinctrl_gpio2>;
	gpio-line-names =
		"N/C", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C",
		"N/C", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C", "led-apl-red",
		"led-apl-green", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C",
		"N/C", "N/C";
};

&gpio3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio3>;
	gpio-line-names =
		"N/C", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C", "SEL_RS/WF#", "led-sys-rdy-yellow", "SPI3_INT#",
		"N/C", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C",
		"led-led1-green", "N/C", "N/C", "N/C", "led-led1-red", "N/C", "N/C", "N/C", "N/C", "N/C",
		"N/C", "N/C";
};

&gpio4 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio4>;
	gpio-line-names =
		"led-act-red", "N/C", "N/C", "N/C", "N/C", "LTE_RESET#", "N/C", "N/C", "N/C", "N/C",
		"led-sys-run-green", "led-act-green", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C",
		"LTE_FLIGHTMODE#", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C", "led-bt-blue", "N/C",
		"N/C", "N/C";
};

&gpio5 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio5>;
	gpio-line-names =
		"N/C", "led-sta-green", "led-bt-red", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C",
		"N/C", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C", "IN1",
		"N/C", "OUT0", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C", "N/C",
		"N/C", "N/C";
};

&uart1 { /* RS232 */
	status = "okay";
};

&uart2 { /* RS485 */
	status = "okay";
};

&uart3 { /* console for development only! */
	status = "okay";
};

&uart4 {
	status = "disabled";
};

&ecspi1 { /* TPM */
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi1>;
	num-cs = <1>;

	cs-gpios = <
		&gpio5 9 GPIO_ACTIVE_LOW
	>;

	spi1_0: tpm@0 {
		compatible = "tcg,tpm_tis-spi", "infineon,slb9670";
		reg = <0>;
		spi-max-frequency = <10000000>;
	};
};

&ecspi2 { /* netX90 */
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi2>;
	num-cs = <1>;

	cs-gpios = <
		&gpio5 13 GPIO_ACTIVE_LOW
	>;

	spi2_0: netx90_spm@0 {
		compatible = "spidev";
		reg = <0>;
		spi-max-frequency = <125000000>;
	};
};

&ecspi3 { /* CAN */
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi3>;
	num-cs = <1>;

	cs-gpios = <
		&gpio5 25 GPIO_ACTIVE_LOW
	>;

	spi3_0: can@0 {
// 		compatible = "microchip,mcp2515";
		compatible = "spidev";
		reg = <0>;
		spi-max-frequency = <25000000>;
	};
};

&i2c1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;

	clock-frequency = <1000000>;

	fram@51 {
		compatible = "24c64";
		reg = <0x51>;
		pagesize = <1024>;
	};
};

&i2c2 { /* SOM: PMIC, RTC, EEprom*/
	status = "okay";

	rtc0: rtc@69 {
	};
};

&i2c3 {
	status = "disabled";
};

&i2c4 {
	status = "disabled";
};

&usdhc1 { /* SOM: WLAN/Bluetooth */
	status = "okay";
};

&usdhc3 { /* SOM: MMC */
	status = "okay";
};

&usbotg1 {
	status = "okay";
	dr_mode = "host";
};

&usbotg2 { /* internal connected to LAN9514I-JZX - USB 2.0 Hub and 10/100 Ethernet Controller */
	status = "okay";
	dr_mode = "host";
};

&fec1 {
	status = "okay";
};

&ethphy0 {
	/delete-property/ at803x,eee-okay;
	at803x,eee-disabled;
};

&snvs {
	status = "okay";
};

&snvs_pwrkey {
	status = "okay";
};

&wdog1 {
	status = "okay";
};

&pcie0 {
	status = "okay";
};

&sai1 {
	status = "disabled";
};

&sai2 {
	status = "disabled";
};

&sai3 {
	status = "disabled";
};

/* NOTE: sai4 is not defined by imx8mm.dtsi */
// &sai4 {
// 	status = "disabled";
// };

&sai5 {
	status = "disabled";
};

&sai6 {
	status = "disabled";
};

&lcdif {
	status = "disabled";
};

&pwm2 {
	status = "disabled";
};

&gpu {
	status = "disabled";
};

&vpu_g1 {
	status = "disabled";
};

&vpu_g2 {
	status = "disabled";
};

&vpu_h1 {
	status = "disabled";
};

&usdhc2 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc2>, <&pinctrl_usdhc2_gpio>;
	pinctrl-1 = <&pinctrl_usdhc2_100mhz>, <&pinctrl_usdhc2_gpio>;
	pinctrl-2 = <&pinctrl_usdhc2_200mhz>, <&pinctrl_usdhc2_gpio>;
	cd-gpios = <&gpio2 12 GPIO_ACTIVE_LOW>;
	//wp-gpios = <&gpio2 20 GPIO_ACTIVE_HIGH>;
	no-1-8-v;
	bus-width = <4>;
	//vmmc-supply = <&reg_usdhc2_vmmc>;
	status = "okay";
};


/ {
	reg_usdhc2_vmmc: regulator-usdhc2 {
		compatible = "regulator-fixed";
		regulator-name = "VSD_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio2 19 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		startup-delay-us = <100>;
		off-on-delay-us = <12000>;
	};
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog_1>;

	ucm-imx8m-mini {
		pinctrl_usdhc2_gpio: usdhc2grpgpio {
			fsl,pins = <
				//MX8MM_IOMUXC_SD2_RESET_B_GPIO2_IO19     0x41
				MX8MM_IOMUXC_SD2_CD_B_GPIO2_IO12          (IS) // an external pulldown exists (orig: 0x41)
				//MX8MM_IOMUXC_SD2_WP_GPIO2_IO20          0x00
			>;
		};

		pinctrl_usdhc2: usdhc2grp {
			fsl,pins = <
				MX8MM_IOMUXC_SD2_CLK_USDHC2_CLK         0x190
				MX8MM_IOMUXC_SD2_CMD_USDHC2_CMD         0x1d0
				MX8MM_IOMUXC_SD2_DATA0_USDHC2_DATA0     0x1d0
				MX8MM_IOMUXC_SD2_DATA1_USDHC2_DATA1     0x1d0
				MX8MM_IOMUXC_SD2_DATA2_USDHC2_DATA2     0x1d0
				MX8MM_IOMUXC_SD2_DATA3_USDHC2_DATA3     0x1d0
				MX8MM_IOMUXC_GPIO1_IO04_USDHC2_VSELECT  0x1d0
			>;
		};

		pinctrl_usdhc2_100mhz: usdhc2grp100mhz {
			fsl,pins = <
				MX8MM_IOMUXC_SD2_CLK_USDHC2_CLK         0x194
				MX8MM_IOMUXC_SD2_CMD_USDHC2_CMD         0x1d4
				MX8MM_IOMUXC_SD2_DATA0_USDHC2_DATA0     0x1d4
				MX8MM_IOMUXC_SD2_DATA1_USDHC2_DATA1     0x1d4
				MX8MM_IOMUXC_SD2_DATA2_USDHC2_DATA2     0x1d4
				MX8MM_IOMUXC_SD2_DATA3_USDHC2_DATA3     0x1d4
				MX8MM_IOMUXC_GPIO1_IO04_USDHC2_VSELECT  0x1d0
			>;
		};

		pinctrl_usdhc2_200mhz: usdhc2grp200mhz {
			fsl,pins = <
				MX8MM_IOMUXC_SD2_CLK_USDHC2_CLK         0x196
				MX8MM_IOMUXC_SD2_CMD_USDHC2_CMD         0x1d6
				MX8MM_IOMUXC_SD2_DATA0_USDHC2_DATA0     0x1d6
				MX8MM_IOMUXC_SD2_DATA1_USDHC2_DATA1     0x1d6
				MX8MM_IOMUXC_SD2_DATA2_USDHC2_DATA2     0x1d6
				MX8MM_IOMUXC_SD2_DATA3_USDHC2_DATA3     0x1d6
				MX8MM_IOMUXC_GPIO1_IO04_USDHC2_VSELECT  0x1d0
			>;
		};
	};
};
